.teams_container{
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    width: 70vw;
    margin: auto;

}
.teams_container .header1{
    padding-bottom: 2rem;
}

.teams_container .header4{
    line-height: 1.5;
    padding-bottom: 6rem;
}

.teams_profile{
display: grid ;
grid-template-columns: repeat(3,1fr);
gap: 10px;
grid-auto-rows: minmax(100px, auto);

}

.individual_profiles{
padding: 4rem;
}

.profile_images{
    height: 24rem;
    width: 18rem;
}

